APP_NAME="Okuhle Homes"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=philahomes
DB_USERNAME=philahomes
DB_PASSWORD=philahomes

SESSION_DRIVER=database
SESSION_LIFETIME=120

MAIL_MAILER=log
RESEND_API_KEY=
EMAIL_FROM="Okuhle Homes <onboarding@resend.dev>"
EMAIL_TO=info@philahomes.co.za

OPENAI_API_KEY=
ADMIN_PASSWORD=admin123

VITE_APP_NAME="${APP_NAME}"
